.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 30px;
	width: 100%;

	@media (max-width: 768px) {
		gap: 20px;
	}
}

.btn {
	margin-top: 50px;
}

.article {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr;
	gap: 20px;

	background: var(--white);
	border-radius: 10px;
	padding: 20px;
}

.avatar {
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.articleText {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 280px;
}
